---
import { Icon } from 'astro-icon/components';
import getFilesFromDir from '~/utils/getFilesFromDir';

interface Props {
  dir: string;
}

const { dir } = Astro.props;
const fileList = await getFilesFromDir(dir);
---

<section class="flex flex-col gap-y-2 border border-slate-200 rounded-2xl max-w-4xl p-4 mx-auto">
  {
    fileList.map((href) => (
      <a href={href} target="_blank" class="border-b-2 border-slate-200">
        <div class="flex gap-x-2 items-center">
          <div>
            <Icon name="tabler:file-type-pdf" />
          </div>
          <span class="text-left leading-tight">{decodeURIComponent(href).split('/').pop()}</span>
        </div>
      </a>
    ))
  }
</section>
