---
import { Icon } from 'astro-icon/components';
---

<section class="bg-blue-50 dark:bg-slate-800 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
    <span class="font-bold">
      <Icon name="tabler:info-square" class="w-5 h-5 inline-block align-text-bottom" /> Нужна консультация?</span
    > Позвоните нам <a href="tel:+79003006323" class="italic underline">+7 (900) 300-63-23</a> или <a
      href="https://wa.link/8n75w8"
      class="italic underline">напишите в WhatsApp</a
    >
  </div>
</section>
