---

---

<div class="relative w-full h-full">
  <a
    href="https://yandex.ru/maps/org/elevatormelservis/8057948607/?utm_medium=mapframe&utm_source=maps"
    style="color:#eee;font-size:12px;position:absolute;top:0px;">ЭлеваторМельСервис</a
  >
  <iframe
    src="https://yandex.ru/map-widget/v1/org/elevatormelservis/8057948607/?l=trf%2Ctrfe%2Cmasstransit&ll=39.137810%2C51.672055&z=14.04"
    width="560"
    height="400"
    frameborder="1"
    allowfullscreen="true"
    style="position:relative;"></iframe>
</div>
