---
import type { Product as ProductType } from '~/types';
import ToProductLink from './ToProductLink.astro';
import Image from 'astro/components/Image.astro';

interface Props {
  product: ProductType;
}

const { product } = Astro.props;
---

<article class="prose prose-slate dark:prose-invert mx-auto px-4">
  <header class="mb-8">
    <h1 class="mb-2">{product.title}</h1>
    {product.excerpt && <p class="text-xl text-slate-500 dark:text-slate-400">{product.excerpt}</p>}
  </header>

  {
    product.image && (
      <figure class="mb-8">
        <Image
          src={product.image}
          alt={product.title}
          sizes="(max-width: 900px) 400px, 900px"
          widths={[400, 900]}
          width={900}
          height={506}
          loading="eager"
          decoding="async"
        />
      </figure>
    )
  }

  <div class="mb-8">
    {product.Content ? <product.Content /> : <Fragment set:html={product.content || ''} />}
  </div>

  <ToProductLink />
</article>
