---
import { Icon } from 'astro-icon/components';
---

<a
  href="javascript:history.back()"
  class="w-full inline-flex gap-x-1 items-center justify-center text-sm font-medium text-primary-600 hover:text-primary-700 dark:text-primary-400 dark:hover:text-primary-300"
>
  <Icon name="tabler:arrow-back" />
  Назад к списку продукции
</a>
