---
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'О нас',
  description: 'О компании ЭлеваторМельСервис Воронеж',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="О нас"
    image={{
      src: '/videos/about.mp4',
      alt: 'Изображение рабочего процесса',
    }}
    content="Дорогой друг, мы бесконечно благодарны за проявленный интерес к нашему заводу! Команда ЭМС всегда стремится воплотить в жизнь самые сложные технические задания. При этом, имея за плечами колоссальный опыт в ремонте, монтаже, разработке и производстве технологического оборудования, мы стараемся довести каждый конвейер, норию либо самую простую задвижку до совершенства. Чтобы обслуживающий персонал получал удовольствие от эксплуатации оборудования и ремонты (куда же без них) проходили лего, быстро и без больших затрат."
  >
    <Fragment slot="title">
      <h1 class="text-3xl sm:text-4xl md:text-5xl font-bold">
        Компания ЭлеваторМельСервис <br />
        <span class="text-accent dark:text-white highlight"
          >производство транспортного технологического оборудования</span
        >
      </h1>
    </Fragment>
  </Hero>
</Layout>
