---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Stats from '~/components/widgets/Stats.astro';

import siloFieldImage from '~/assets/images/silo-field.png';

const metadata = {
  title: 'ЭлеваторМельСервис',
  description:
    'Производство транспортного технологического оборудования в Воронеже. Клапаны перекидные, одинарные, двойные, тройные. Конвйеры цепные и ленточные. Задвижки реечные и винтовые. Нории',
  ignoreTitleTemplate: true,
  rel: 'canonical',
};
---

<Layout metadata={metadata}>
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Написать письмо',
        href: 'mailto:elevatormelservis36@yandex.ru',
        icon: 'tabler:mail',
      },
      { text: 'Узнать больше', href: '#features' },
    ]}
    image={{ src: siloFieldImage, alt: 'Silo field' }}
  >
    <Fragment slot="title">
      <h1 class="text-3xl sm:text-4xl md:text-5xl font-bold mb-2">
        Элеватор<span class="text-accent dark:text-white highlight">Мель</span>Сервис
      </h1>
    </Fragment>

    <Fragment slot="subtitle">
      Компания «ЭлеваторМельСервис» производство транспортного технологического оборудования
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="Почему мы?"
    items={[
      {
        title: 'Экономия времени',
        description: 'Вы экономите свое время, потому что мы используем только передовые технологии',
        icon: 'tabler:clock',
      },
      {
        title: 'Защита потребителя',
        description: 'Вы защищены как потребитель - качество наших услуг соответствует самым современным стандартам',
        icon: 'tabler:shield',
      },
      {
        title: 'Одна точка производства',
        description: 'весь цикл производства располагается в одном месте',
        icon: 'tabler:circle-dotted',
      },
    ]}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="Что нужно для получения услуг от нашей компании"
    items={[
      {
        title: 'Шаг 1: <span class="font-medium">Связаться с нами</span>',
        description: 'Написать нам в чате или отправить запрос на электронную почту.',
        icon: 'tabler:message',
      },
      {
        title: 'Шаг 2: <span class="font-medium">Позвоните</span>',
        description: 'Позвоните нам. Мы всегда на связи и рады Вам помочь',
        icon: 'tabler:phone',
      },
      {
        title: 'Шаг 3: <span class="font-medium">Ожидайте ответа</span>',
        description: 'С Вами свяжется наш менеджер, уточнит все детали и вышлет наше предложение',
        icon: 'tabler:alarm',
      },
      {
        title: 'Вот и все!',
        icon: 'tabler:check',
      },
    ]}
  />

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Узнайте больше из наших статей"
    information={`Здесь мы храним новости и документацию. Вы можете узнать больше о нашей компании, о наших задумках и начинаниях. Мы также публикуем новости о появлении новых товаров и услуг`}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Клиентов', amount: '250+' },
      { title: 'Года работы', amount: '4' },
      { title: 'Сотрудников', amount: '70' },
      { title: 'Заказов', amount: '3000+' },
      { title: 'Производственных площадей', amount: '2000м²' },
    ]}
  />
</Layout>
