---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'ЭлеваторМельСервис - производство транспортного технологического оборудования',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Написать письмо',
        href: 'mailto:elevatormelservis36@yandex.ru',
        icon: 'tabler:mail',
      },
      { text: 'Узнать больше', href: '#features' },
    ]}
    image={{ src: '~/assets/images/silo-field.png', alt: 'Silo field' }}
  >
    <Fragment slot="title">
      Элеватор <span class="text-accent dark:text-white highlight">Мель</span> Сервис
    </Fragment>

    <Fragment slot="subtitle">
      Компания «Элеватор Мель Сервис» производство транспортного технологического оборудования
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="Почему мы?"
    subtitle="Дорогой друг, мы бесконечно благодарны за проявленный интерес к нашему заводу! Команда ЕМС всегда стремится воплотить в жизнь самые сложные технические задания"
    items={[
      {
        title: 'Опыт работы',
        description:
          'У нас за плечами колоссальный опыт в ремонте, монтаже, разработке и производстве технологического оборудования.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Стремление к совершенству',
        description: 'Мы стараемся довести каждый конвейер, норию либо самую простую задвижку до совершенства',
        icon: 'tabler:components',
      },
      {
        title: 'Удобство эксплуатации',
        description:
          'Чтобы обслуживающий персонал получал удовольствие от эксплуатации оборудования, а ремонт проходил легко, быстро и без больших затрат',
        icon: 'tabler:list-check',
      },
      {
        title: 'Экономия времени',
        description: 'Мы используем только передовые технологии, которые ускоряют производство и ремонт оборудования',
        icon: 'tabler:rocket',
      },
      {
        title: 'Защита потребителя',
        description: 'Вы защищены как потребитель - качество наших услуг соответствует самым современным стандартам',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Одна точка производства',
        description:
          'Весь цикл производства располагается в одном месте, что удешевляет и ускоряет процесс, а также делает его надежнее.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="Что нужно для получения помощи от нашей компании"
    items={[
      {
        title: 'Шаг 1: <span class="font-medium">Найти подходящую услугу</span>',
        description: 'Ниже вы найдете то, с чем может помочь наш сервис',
        icon: 'tabler:package',
      },
      {
        title: 'Шаг 2: <span class="font-medium">Наберите нам</span>',
        description: 'Позвоните нам, мы всегда на связи и рады вам помочь',
        icon: 'tabler:letter-case',
      },
      {
        title: 'Шаг 3: <span class="font-medium">Опишите детали процесса</span>',
        description: 'А мы исполним его, пока вы занимаетесь своими делами.',
        icon: 'tabler:paint',
      },
      {
        title: 'Вот и все!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Узнайте больше из наших статей"
    information={`Здесь мы храним новости и документацию. Вы можете узнать больше о нашей компании, о наших задумках и начинаниях. Мы также публикуем новости о появлении новых товаров и услуг`}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Клиентов', amount: '17тыс.' },
      { title: 'Лет работы', amount: '15' },
      { title: 'Сотрудников', amount: '10' },
      { title: 'Заказов', amount: '48.4тыс' },
    ]}
  />
</Layout>
