---
import { Image } from 'astro:assets';
import { SITE } from 'astrowind:config';
import icon from 'src/assets/favicons/web-app-manifest-512x512.png';
---

<span
  class="inline-flex items-center gap-x-2 self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <Image src={icon} alt="logo" class="w-6 h-6" loading="eager" />
  {SITE?.name}
</span>
