---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import { getFileNameFromPath } from '~/utils/getFilesFromDir';

interface Props {
  images: string[];
}

const { images = [] } = Astro.props;
---

<div class="flex items-center gap-x-1 w-full">
  <Icon
    name="tabler:arrow-left"
    class="bg-slate-200 hover:bg-slate-300 active:bg-slate-100 cursor-pointer transition-color rounded-full dark:text-black"
    onclick="const box = document.getElementById('carousel-wrapper'); box.scrollBy({left: -120, behavior: 'smooth'})"
  />
  <div
    id="carousel-wrapper"
    class="relative flex w-full h-96 snap-x snap-mandatory gap-x-6 overflow-x-scroll no-scrollbar"
  >
    {
      images.map((image) => (
        <div class="snap-center shrink-0">
          <Image
            class="h-80 w-80 shrink-0 rounded-lg object-contain bg-white hover:shadow-md active:shadow-md cursor-zoom-in transition-transform z-20"
            widths={[400, 768, 1024, 2040]}
            sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
            loading="eager"
            width={600}
            height={600}
            src={image}
            alt={getFileNameFromPath(image)}
            data-zoomable
          />
        </div>
      ))
    }
  </div>
  <Icon
    name="tabler:arrow-right"
    class="bg-slate-200 hover:bg-slate-300 active:bg-slate-100 cursor-pointer transition-color rounded-full dark:text-black"
    onclick="const box2 = document.getElementById('carousel-wrapper'); box2.scrollBy({left: 120, behavior: 'smooth'})"
  />
</div>
