---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import { getFileNameFromPath } from '~/utils/getFilesFromDir';

interface Props {
  images: string[];
}

const { images = [] } = Astro.props;
---

<div class="flex items-center w-full">
  <Icon name="tabler:arrow-left" />
  <div class="relative flex w-full h-96 snap-x snap-mandatory gap-6 overflow-x-scroll no-scrollbar">
    {
      images.map((image) => (
        <div class="snap-center shrink-0">
          <Image
            class="h-80 w-80 shrink-0 rounded-lg object-contain bg-white hover:scale-125 transition-transform"
            widths={[400, 768, 1024, 2040]}
            sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
            loading="eager"
            width={600}
            height={600}
            src={image}
            alt={getFileNameFromPath(image)}
          />
        </div>
      ))
    }
  </div>
  <Icon name="tabler:arrow-right" />
</div>
